<%= render 'new' %>

<div class="row row-cols-2 row-cols-md-3 g-4 mb-4">
  <% @microposts.each do |micropost| %>
    <div class="col">
      <div class="card h-100">
        <%= link_to micropost_path(micropost) do %>
          <% if micropost.images.attached? %>
            <%= image_tag micropost.images[0].variant(resize: '1200x1000!').processed, class: 'card-img-top' %>
          <% else %>
            <%= image_tag "no_image.jpg", class: 'card-img-top' %>
          <% end %>
        <% end %>
        <div class="card-body">
          <%= link_to "#{micropost.kitchencar.name}", kitchencar_path(micropost.kitchencar.id), class: 'card-title', style: 'font-size: 14px;' %>
          <p class="card-text mt-2" style="font-size: 18px;">
            <%= micropost.content %>
          </p>
          <div class="card-footer bg-transparent">
          <%= time_ago_in_words(micropost.created_at) %>前
          <span class="mx-3">
            <% if micropost.kitchencar == current_kitchencar %>
              <%= link_to edit_micropost_path(micropost), class: 'text-dark' do %>
                <i class="far fa-edit fa-lg"></i>
              <% end %>
              <%= link_to micropost_path(micropost), method: :delete, class: 'text-dark', data: { confirm: "削除しますか？" } do %>
                <i class="far fa-trash-alt fa-lg"></i>
              <% end %>
            <% end %>
          </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center">
  <%= paginate @microposts %>
</div>