<% if current_kitchencar%>
  <%= form_with model: @micropost,  local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
     <%= f.text_area :content%>
      <% errors_hash(@micropost, :content).each do |error_msg| %>
        <p class="text-xs text-danger"><%= error_msg %></p>
      <% end %>
    </div>
    <div class="image">
      <%= f.file_field :images, multiple: true %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary"%>
  <% end %>
<% end %>

<table class="table">
  <% @microposts.each do |micropost| %>
    <tbody>
      <tr>
        <th>
          <%= link_to micropost.kitchencar.name, kitchencar_path(micropost.kitchencar)%>
        </th>
        <td>
          <%= micropost.content %>
        </td>
        <td>
          <% if micropost.images.attached? %>
            <% micropost.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          <% end %>
        </td>
        <% if micropost.kitchencar == current_kitchencar %>
          <td>
            <%= link_to "編集",  edit_micropost_path(micropost) %>
          </td>
          <td>
            <%= link_to "削除", micropost_path(micropost), method: :delete, data: { confirm: "削除しますか？" } %>
          </td>
        <% else%>
          <td colspan="2"></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>