<%= render 'new' %>

<div class="row row-cols-2 row-cols-md-3 g-4 mb-4">
  <% @microposts.each do |micropost| %>
    <div class="col">
      <div class="card h-100">
        <%= link_to micropost_path(micropost) do %>
          <% if micropost.images.attached? %>
            <%= image_tag micropost.images[0].variant(resize: '1200x1000!').processed, class: 'card-img-top' %>
          <% else %>
            <%= image_tag "no_image.jpg", class: 'card-img-top' %>
          <% end %>

        <% end %>
        <div class="card-body">
          <%= link_to "#{micropost.kitchencar.name}", kitchencar_path(micropost.kitchencar.id), class: 'card-title' %>
          <br/>
          <p class="card-text">
            <%= micropost.content %>
          </p>
          <%= time_ago_in_words(micropost.created_at) %>前
          <% if micropost.kitchencar == current_kitchencar %>
            <%= link_to "編集", edit_micropost_path(micropost) %>
            <%= link_to "削除", micropost_path(micropost), method: :delete, data: { confirm: "削除しますか？" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
