<div class="container">
  <div class="mb-4 text-right">
    <%= link_to "プロフィールを編集", edit_kitchencar_registration_path if current_kitchencar && params[:id] == current_kitchencar.id.to_s %>
  </div>

  <div class="mb-3">
    <span class=" border border-info rounded p-2 text-info ">
        <%= @kitchencar.location %>
    </span>
  </div>

  <div id="Header" class="border-bottom border-secondary mb-4">
    <font size="5" face="Osaka">
      <%= @kitchencar.name %>
    </font>
  </div>

  <div hidden>写真：</div>

  <div id="carouselExampleIndicators" class="carousel slide mb-5" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <% if @kitchencar.portraits.attached? %>
        <% @kitchencar.portraits.each_with_index do |portrait, i| %>
          <% if i == 0 %>
            <div class="carousel-item active">
              <%= image_tag portrait.variant(resize: "500x300!").processed, class: 'd-block w-100 img-responsive' %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= image_tag portrait.variant(resize: "500x300!").processed, class: 'd-block w-100 img-responsive' %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h4 class="mb-6"><b><%= @kitchencar.introduction %></b></h4>

  <div class="mb-4">
    <%= link_to 'メニューはこちら', kitchencar_menus_path(@kitchencar), class: 'btn btn-primary' %>
  </div>

  <% if @kitchencar.microposts.any? %>
    <h4>投稿 (<%= @kitchencar.microposts.count %>)</h4>
    <div class="row row-cols-2 row-cols-md-3 g-4 mb-4">
      <% @microposts.each do |micropost| %>
        <div class="col">
          <div class="card h-100">
            <%= link_to micropost_path(micropost) do %>
              <% if micropost.images.attached? %>
                <%= image_tag micropost.images[0].variant(resize: '1200x1000!').processed, class: 'card-img-top' %>
              <% else %>
                <%= image_tag "no_image.jpg", class: 'card-img-top' %>
              <% end %>
            <% end %>
            <div class="card-body">
              <p class="card-text" style="font-size: 18px;">
                <%= micropost.content %>
              </p>
              <%= time_ago_in_words(micropost.created_at) %>前
              <span class="mx-3">
                <% if micropost.kitchencar == current_kitchencar %>
                  <%= link_to edit_micropost_path(micropost), class: 'text-dark' do %>
                    <i class="far fa-edit fa-lg"></i>
                  <% end %>
                  <%= link_to micropost_path(micropost), method: :delete, class: 'text-dark', data: { confirm: "削除しますか？" } do %>
                    <i class="far fa-trash-alt fa-lg"></i>
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center">
  <%= paginate @microposts %>
</div>